<section
    class="bg-hero bg-cover bg-center bg-no-repeat w-full h-dvh flex justify-center items-center text-center flex-col gap-7">
    <div class="absolute top-0 flex justify-between w-full items-center p-5">

        <div class="flex md:order-2">
            <div class="flex text-5xl w-19 justify-center  text-primary">
                <h2 class="">M</h2>
                <h2 class="-ml-3">D</h2>
            </div>
            <div class="hidden md:flex flex-col text-start font-bold text-xl">
                <h2>Mehmet</h2>
                <h2 class="-mt-2">Deliaci</h2>
            </div>
        </div>

        <div class="flex gap-6">
            <label
                class="hidden md:flex border border-primary rounded-full gap-4 items-center px-2 h-6 relative cursor-pointer">
                <!-- Versteckter Input für den Zustand des Toggles -->
                <input type="checkbox" class="sr-only peer" />

                <div
                    class="absolute bg-primary w-1/2 h-full rounded-full transition-transform duration-300 left-0 peer-checked:translate-x-full">
                </div>

                <span class="z-10 font-bold text-white peer-checked:font-normal peer-checked:text-primary">EN</span>
                <span class="z-10 text-primary peer-checked:text-white peer-checked:font-bold ">DE</span>
            </label>


            <div class="hidden md:flex gap-4 justify-center font-thin">
                <a href="#about-me">About me</a>
                <a href="#skillset">Skills</a>
                <a href="#projects">Projects</a>
            </div>
        </div>

        <img class="size-9 md:hidden" src="assets/icons/menu.svg" alt="">

    </div>

    <div class="flex gap-4 flex-col w-full">
        <h2 class="font-fira text-2xl md:text-4xl">Frontend Developer</h2>
        <h1 class="text-5xl md:text-8xl font-bold ">Mehmet Deliaci</h1>
        <div class=" flex w-full justify-center gap-8">
            <button class="rounded-full border-white border p-4 ">Check my work</button>
            <button class="rounded-full border-white border p-4 ">Contact me</button>
        </div>
    </div>

    <div class="flex justify-between w-full absolute bottom-0 px-5 overflow-hidden ">
        <div class="flex flex-col items-center gap-5 justify-end">
            <button class="rounded-full border-primary border ">
                <img class="hover:animate-slidedown p-3 py-5" src="assets/icons/arrow-down.svg" alt="">
            </button>
            <div class="bg-primary w-[1px] h-1/2"></div>
        </div>

        <div class="flex flex-col items-center gap-4">
            <a href=""
                class="hidden md:flex -rotate-90 h-fit  items-center overflow-visible mb-3 mt-44 w-10">Trane_67&#64;hotmail.de</a>
            <a href="" class="md:hidden"><img src="assets/icons/mail.svg" alt=""></a>
            <a href=""><img class="" src="assets/icons/github.svg" alt=""></a>
            <a href=""><img src="assets/icons/linkedin.svg" alt=""></a>
            <div class="bg-white w-[1px] h-28"></div>
        </div>

        <div class="overflow-hidden absolute w-[150%] -mx-2 flex gap-5 bg-gray-300 bg-opacity-10 py-3 bottom-10 text-primary overflow-x-hidden whitespace-nowrap left-0 -rotate-3 backdrop-blur-sm">
            <div class="animate-marquee flex gap-5">
                <li>Available for remote work</li>
                <li>Frontend Developer</li>
                <li>Based in Munich</li>
                <li>Available for remote work</li>
                <li>Frontend Developer</li>
                <li>Based in Munich</li>
            </div>
            <div class="animate-marquee flex gap-5">
                <li>Available for remote work</li>
                <li>Frontend Developer</li>
                <li>Based in Munich</li>
                <li>Available for remote work</li>
                <li>Frontend Developer</li>
                <li>Based in Munich</li>
            </div>
        </div>
    </div>
</section>