<section
    class="bg-hero bg-cover bg-center bg-no-repeat w-full h-dvh flex justify-center items-center text-center flex-col gap-7">
    <div class="absolute top-0 flex justify-between w-full items-center p-5">
        <div class="flex text-5xl w-19 justify-center  text-primary">
            <h2 class="">M</h2>
            <h2 class="-ml-3">D</h2>
        </div>
        <img class="size-9" src="assets/icons/menu.svg" alt="">
    </div>

    <div class="flex gap-4 flex-col w-full">
        <h2 class="font-fira text-2xl">Frontend Developer</h2>
        <h1 class="text-5xl ">Mehmet Deliaci</h1>
        <div class=" flex w-full justify-center gap-8">
            <button class="rounded-full border-white border p-4 ">Check my work</button>
            <button class="rounded-full border-white border p-4 ">Contact me</button>
        </div>
    </div>

    <div class="flex justify-between w-full absolute bottom-0 px-5">
        <div class="flex flex-col items-center gap-5 ">
            <button class="rounded-full border-primary border p-3 py-5">
                <img src="assets/icons/arrow-down.svg" alt="">
            </button>
            <div class="bg-primary w-[1px] h-full"></div>
        </div>

        <div class="flex flex-col items-center gap-4">
            <img src="assets/icons/mail.svg" alt="">
            <img src="assets/icons/github.svg" alt="">
            <img src="assets/icons/linkedin.svg" alt="">
            <div class="bg-white w-[1px] h-28"></div>
        </div>

        <div class="absolute w-[104%] -mx-2 flex gap-5 bg-gray-300 bg-opacity-10 py-3 bottom-10 text-primary overflow-x-hidden whitespace-nowrap left-0 -rotate-6 backdrop-blur-sm">
            <div class="animate-marquee flex gap-5">
                <li>Available for remote work</li>
                <li>Frontend Devoloper</li>
                <li>Based in Munich</li>
                <li>Available for remote work</li>
                <li>Frontend Devoloper</li>
                <li>Based in Munich</li>
            </div>
        </div>

    </div>
</section>