<div>
    <div class="w-full flex justify-center p-6 pt-20">
        <img class="rounded-3xl" src="assets/imgs/ich.jpg" alt="">
    </div>

    <div class="p-6">
        <h2 class="text-primary pb-6 text-2xl">Who I Am</h2>
        <div class="border-primary border rounded-3xl p-10 bg-primary bg-opacity-5">
            <h1 class="text-primary text-5xl font-bold pb-6">About me</h1>
            <p class="pb-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, iure velit voluptate adipisci, sint aut
                inventore ut eveniet omnis neque architecto cumque nihil dolores labore molestiae eaque necessitatibus,
                itaque maxime.</p>

            <div class="flex gap-5 pb-6 items-start">
                <img class="pt-1" src="assets/icons/location.svg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae placeat commodi magnam dolores
                    voluptas laborum maxime nostrum magni excepturi quasi quos saepe pariatur officiis provident
                    accusantium
                    quas, amet dolore laboriosam.</p>
            </div>

            <div class="flex gap-5 pb-6 items-start">
                <img class="pt-1" src="assets/icons/cognition.svg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae placeat commodi magnam dolores
                    voluptas laborum maxime nostrum magni excepturi quasi quos saepe pariatur officiis provident
                    accusantium
                    quas, amet dolore laboriosam.</p>
            </div>

            <div class="flex gap-5 items-start">
                <img class="pt-1" src="assets/icons/check.svg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae placeat commodi magnam dolores
                    voluptas laborum maxime nostrum magni excepturi quasi quos saepe pariatur officiis provident
                    accusantium
                    quas, amet dolore laboriosam.</p>
            </div>
        </div>
    </div>

</div>