<section class="w-full 2xl:w-[1580px] h-32 m-auto flex">

    <app-burgermenu class="z-50" *ngIf="global.burgermenuIsOpen"></app-burgermenu>

    <div class=" flex justify-between w-full items-center p-5">
        <div *ngIf="!hovered" (mouseover)="hoverOn()" class="flex md:order-2 cursor-pointer">
            <div class="flex text-5xl w-19 justify-center font-bold text-primary">
                <h2 class="">M</h2>
                <h2 class="-ml-3">D</h2>
            </div>
            <div class="hidden md:flex flex-col text-start font-bold text-xl">
                <h2>Mehmet</h2>
                <h2 class="-mt-2">Deliaci</h2>
            </div>
        </div>

        <div *ngIf="hovered" class="flex md:order-2 cursor-pointer" (mouseleave)="hoverOff()">
            <div class="flex text-5xl w-19 justify-center text-primary">
                <h2 class="font-bold outline-logo">M</h2>
                <h2 class="-ml-2 font-bold outline-logo">D</h2>
            </div>
            <div class="hidden md:flex flex-col text-start font-bold text-xl ">
                <h2 class="outline">Mehmet</h2>
                <h2 class="-mt-2 outline">Deliaci</h2>
            </div>
        </div>

        <div class="flex gap-6">
            <label
                class="hidden md:flex border border-primary rounded-full gap-4 items-center px-2 h-6 relative cursor-pointer">
                <input type="checkbox" class="sr-only peer" [checked]="isChecked" (change)="onCheckboxChange($event)" />

                <div
                    class="absolute bg-primary w-1/2 h-full rounded-full transition-transform duration-300 left-0 peer-checked:translate-x-full">
                </div>

                <span class="z-10 font-bold text-white peer-checked:font-normal peer-checked:text-primary"> EN</span>
                <span class="z-10 text-primary peer-checked:text-white peer-checked:font-bold ">DE</span>
            </label>

            <label
                class="hidden md:flex border border-primary rounded-full gap-4 items-center px-2 h-6 relative cursor-pointer">
                <input type="checkbox" class="sr-only peer" [checked]="modeChecked" (change)="switchTheme($event)" />

                <div
                    class="absolute bg-primary w-1/2 h-full rounded-full transition-transform duration-300 left-0 peer-checked:translate-x-full">
                </div>

                <span
                    class="z-10 w-10 font-bold text-white peer-checked:font-normal peer-checked:text-primary flex justify-center">
                    <img class=" w-1/2 h-1/2" [src]="!global.themeMode? 'assets/icons/darkmode.svg': 'assets/icons/darkmode_blue.svg'" alt="">
                </span>

                <span class="z-10 w-10 text-primary peer-checked:text-white peer-checked:font-bold flex justify-center"><img
                        class=" w-1/2 h-1/2" [src]="global.themeMode? 'assets/icons/lightmode.svg': 'assets/icons/lightmode_blue.svg'" alt=""></span>
            </label>


            <div class="hidden md:flex gap-4 justify-center font-thin">
                <a class="link-with-dot" href="#about-me">{{ 'HEADER.ABOUT' | translate }}</a>
                <a class="link-with-dot" href="#skillset">{{ 'HEADER.SKILLS' | translate }}</a>
                <a class="link-with-dot" href="#projects">{{ 'HEADER.PROJECTS' | translate }}</a>
            </div>
        </div>

        <img (click)="openBurgerMenu()" class="size-9 md:hidden cursor-pointer" src="assets/icons/menu.svg" alt="">

    </div>
</section>