<section class="p-6 pb-24 md:flex 2xl:w-[1580px] 2xl:m-auto">

    <!-- CONFIRM MESSAGE -->
    <div class="fixed top-[50%] left-[50%] bg-primary text-white p-4 rounded-lg shadow-lg transition-all duration-300 ease-in-out transform -translate-x-1/2 -translate-y-1/2"
        [ngClass]="{ 'opacity-100 flex': isMessageSent, 'opacity-0 hidden': !isMessageSent }">
        <p class="text-center">Danke, {{ contactname }} Ihre Nachricht wurde erfolgreich übermittelt.<br>Ich werde mich
            in Kürze mit
            Ihnen in Verbindung setzen.</p>
        <button (click)="closeMessage()" class="absolute top-1 right-2 text-white">✖</button>
    </div>






    <div class="md:w-1/2">
        <h2 class="text-primary">{{ 'CONTACT.HEADER' | translate}}</h2>
        <h1 class="text-primary pt-2 pb-3 md:text-6xl text-4xl font-bold break-words">{{ 'CONTACT.TITLE' | translate}}
        </h1>

        <h2 class="text-primary pb-4 font-fira font-bold">{{ 'CONTACT.STITLE' | translate}}</h2>

        <p>{{ 'CONTACT.TEXT' | translate}}</p>

        <p class="pt-4 pb-6">{{ 'CONTACT.NEED' | translate}} <a class="text-primary" href="">{{ 'CONTACT.TALK' |
                translate}}</a></p>
    </div>
    <div>

        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" novalidate>
            <!-- Name -->
            <div class="border-t-2 border-b-2 border-primary p-6 gap-4 flex flex-col">
                <label for="name" class="text-primary text-2xl">{{ 'FORM.NAME' | translate
                    }}</label>
                <input #name="ngModel" name="name" [(ngModel)]="contactData.name" id="name" class="" type="text"
                    placeholder="{{ 'FORM.NAME_PLACEHOLDER' | translate }}" required>
                @if(!name.valid && name.touched) {
                <span>{{ 'FORM.NAME_MISSING' | translate }}</span>
                }
            </div>

            <!-- E-MAIL -->
            <div class="border-b-2 border-primary p-6 gap-4 flex flex-col">
                <label for="email" class="text-primary text-2xl">{{ 'FORM.EMAIL' | translate }}</label>
                <input #email="ngModel" [(ngModel)]="contactData.email" id="email" name="email" class="" type="email"
                    placeholder="{{ 'FORM.EMAIL_PLACEHOLDER' | translate }}" required
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                @if(!email.valid && email.touched) {
                <span>{{ 'FORM.EMAIL_MISSING' | translate }}</span>}
            </div>

            <!-- TEXT -->
            <div class="border-b-2 border-primary p-6 gap-4 flex flex-col">
                <label for="message" class="text-primary text-2xl">{{ 'FORM.HELP' | translate }}</label>
                <input #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="message" name="message"
                    class="" type="text" placeholder="{{ 'FORM.HELP_PLACEHOLDER' | translate }}" required>
                @if(!message.valid && message.touched) {
                <span>{{ 'FORM.HELP_MISSING' | translate }}</span>
                }
            </div>

            <!-- CHECKBOX -->
            <div class="flex justify-center items-center gap-6 pt-6 pb-6">
                <div class="hover:bg-primary-opacity rounded-full size-8 flex justify-center items-center">
                    <input type="checkbox" name="privacy" #privacy="ngModel" [(ngModel)]="contactData.privacy" required
                        class="custom-checkbox h-6 w-6 appearance-none rounded-sm border-2 border-primary bg-transparent cursor-pointer  checked:border-primary checked:before:content-['✓'] checked:before:text-primary checked:before:flex checked:before:justify-center checked:before:items-center">
                </div>
                <div class="flex flex-col gap-4">
                    <div>
                        <p class="w-2/3"> {{'FORM.PRIVACY1' | translate}}</p>
                        <a (click)="navigateAndScroll()" routerLink="/privacy-policy" class="text-nowrap text-primary cursor-pointer" rel="noopener noreferrer">
                            {{ 'FORM.PRIVACY2' | translate }}
                        </a>
                        <p class="w-2/3">{{'FORM.PRIVACY3' | translate}}</p>
                    </div>
                    @if(!privacy.valid && privacy.touched) {
                    <span>{{ 'FORM.PRIVACY_MISSING' | translate }}</span>
                    }
                </div>
            </div>


            <!-- SUBMIT BUTTON -->
            <div class="flex justify-center w-full">
                <button type="submit"
                    class="rounded-full cursor-pointer disabled:text-gray-500 disabled:border-gray-500 border-white border p-4 text-xl"
                    [disabled]="!contactForm.valid">
                    {{ 'FORM.HELLO' | translate }}
                </button>
            </div>
        </form>
    </div>
</section>