<section class="p-6 md:flex">
    <div class="md:w-1/2">
        <h2 class="text-primary ">Contact me</h2>
        <h1 class="text-primary pt-2 pb-3 text-6xl font-bold">Let's work together</h1>

        <h2 class="text-primary pb-4 font-fira font-bold">Got a problem to solve?</h2>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora quibusdam iusto, aspernatur a eveniet quos.
            Suscipit pariatur quae quo nobis veniam accusamus et minima numquam nemo corrupti maxime, veritatis aut!</p>

        <p class="pt-4 pb-6">Need a Frontend developer? <a class="text-primary" href="">Let's talk!</a></p>
    </div>
    <div>
        <div class="border-t-2 border-b-2 border-primary p-6 gap-4 flex flex-col">
            <h2 class="text-primary text-2xl">What's your name?</h2>
            <input class="" type="text" name="" placeholder="Your name goes here" id="">
        </div>
        <div class="border-b-2 border-primary p-6 gap-4 flex flex-col">
            <h2 class="text-primary text-2xl">What's your email?</h2>
            <input class="" type="text" name="" placeholder="youremail@email.com" id="">
        </div>
        <div class="border-b-2 border-primary p-6 gap-4 flex flex-col">
            <h2 class="text-primary text-2xl">How can i help you?</h2>
            <input class="" type="text" name="" placeholder="Hello Mehmet, I am intrested in..." id="">
        </div>

        <div class="flex justify-center items-center gap-6 pt-6 pb-6">
            <div class="hover:bg-primary-opacity rounded-full size-8 flex justify-center items-center">
                <input type="checkbox"
                    class="custom-checkbox h-6 w-6 appearance-none rounded-sm border-2 border-primary bg-transparent cursor-pointer  checked:border-primary checked:before:content-['✓'] checked:before:text-primary checked:before:flex checked:before:justify-center checked:before:items-center">
            </div>
            <p class="w-2/3">
                I've read the <a href="">privacy policy</a> and agree to the processing of my data as outlined
            </p>
        </div>


        <div class="flex justify-center w-full">
            <button class="rounded-full border-white border p-4 text-xl ">Say Hello ;)</button>
        </div>
    </div>
</section>