.animation-speed {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

@media (min-width: 768px) {
  .first-testi {
    margin-left: 25%;
  }
}

.background-gradiant-left {
  background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0));
  z-index: 1;
}

.background-gradiant-right {
  background-image: linear-gradient(to left, rgba(0,0,0,0.8), rgba(0,0,0,0));
  z-index: 1;
}
