.dark-mode {
    color: white;
    @apply bg-secondary
  }

  .light-mode {
    @apply text-lightprimary;
    @apply bg-lightsecondary;
  }

  .background-gradiant {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
  }

  .cursor-shadow {
    position: fixed;
    background: radial-gradient(circle, rgba(61, 207, 182, 0.2), transparent 70%);
    border-radius: 50%;
    pointer-events: none;
  }
  