<div class="flex flex-col min-h-screen relative" (mousemove)="onMouseMove($event)">
    <app-header [ngClass]="global.themeMode ?  'text-lightprimary' : 'text-white'"
        class="absolute top-0 w-full background-gradiant h-32 z-30"></app-header>

    <!-- background if a model or pop got open (for example burgermenu) -->
    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50 z-20" [hidden]="!global.burgermenuIsOpen"
        (click)="closeBurgerMenu()">
    </div>

    <main class="flex-grow">
        <router-outlet></router-outlet>
    </main>

    <app-footer [ngClass]="global.themeMode ? 'light-mode' : 'dark-mode'" class="w-full text-white"></app-footer>

    <!-- background effect for the mouse -->
    <div class="hidden md:flex size-32 cursor-shadow -translate-x-1/2 -translate-y-1/2"
        [ngStyle]="{'left.px': mouseX, 'top.px': mouseY}"></div>
</div>