<div class="flex flex-col" (mousemove)="onMouseMove($event)">
    <div class="size-32 cursor-shadow -translate-x-1/2 -translate-y-1/2" [ngStyle]="{'left.px': mouseX, 'top.px': mouseY}"></div>
    <app-header class=" text-white"></app-header>
    <app-about-me id="about-me" class="bg-secondary text-white p-6 md:p-12"></app-about-me>
    <app-skillset id="skillset" class="bg-secondary text-white"></app-skillset>
    <app-projects id="projects" class="bg-secondary text-white"></app-projects>
    <app-testimonial class="bg-secondary text-white"></app-testimonial>
    <app-contact id="contact" class="bg-secondary text-white"></app-contact>
    <app-footer class="bg-secondary text-white"></app-footer>
</div>