<div [ngClass]="global.themeMode? 'bg-white' : 'bg-secondary'" class="pt-32 pb-32 w-full h-full">
  <div [ngClass]="global.themeMode? 'text-primary bg-gray-600' : 'text-white bg-black'"
    class="privacy-policy max-w-4xl mx-auto p-6  rounded-lg shadow-lg">
    <h1 class="text-3xl font-bold text-primary mb-6">{{ 'PRIVACY.HEADER' | translate }}</h1>

    <h2 class="text-2xl font-semibold mb-4">{{ 'PRIVACY.RESPONSIBLE_TITLE' | translate }}</h2>
    <p class="mb-4">
      {{ 'PRIVACY.NAME' | translate }}<br>
      {{ 'PRIVACY.ADDRESS' | translate }}<br>
      {{ 'PRIVACY.CITY' | translate }}<br>
      {{ 'PRIVACY.COUNTRY' | translate }}<br>
      {{ 'PRIVACY.EMAIL' | translate }}: <a href="mailto:info&#64;mehmet-deliaci.net" class="text-primary underline">
        info&#64;mehmet-deliaci.net
      </a>
    </p>

    <h2 class="text-2xl font-semibold mb-4">{{ 'PRIVACY.DATA_COLLECTION_TITLE' | translate }}</h2>
    <p class="mb-4">{{ 'PRIVACY.DATA_COLLECTION_TEXT' | translate }}</p>
    <ul class="list-disc pl-6 mb-4">
      <li>{{ 'PRIVACY.DATA_NAME' | translate }}</li>
      <li>{{ 'PRIVACY.DATA_EMAIL' | translate }}</li>
      <li>{{ 'PRIVACY.DATA_MESSAGE' | translate }}</li>
    </ul>
    <p class="mb-4">{{ 'PRIVACY.DATA_USAGE_TEXT' | translate }}</p>

    <h2 class="text-2xl font-semibold mb-4">{{ 'PRIVACY.LEGAL_BASIS_TITLE' | translate }}</h2>
    <p class="mb-4">{{ 'PRIVACY.LEGAL_BASIS_TEXT' | translate }}</p>

    <h2 class="text-2xl font-semibold mb-4">{{ 'PRIVACY.STORAGE_DURATION_TITLE' | translate }}</h2>
    <p class="mb-4">{{ 'PRIVACY.STORAGE_DURATION_TEXT' | translate }}</p>

    <h2 class="text-2xl font-semibold mb-4">{{ 'PRIVACY.YOUR_RIGHTS_TITLE' | translate }}</h2>
    <p class="mb-4">{{ 'PRIVACY.YOUR_RIGHTS_TEXT' | translate }}</p>
    <ul class="list-disc pl-6 mb-4">
      <li>{{ 'PRIVACY.RIGHT_ACCESS' | translate }}</li>
      <li>{{ 'PRIVACY.RIGHT_CORRECTION' | translate }}</li>
      <li>{{ 'PRIVACY.RIGHT_DELETION' | translate }}</li>
      <li>{{ 'PRIVACY.RIGHT_LIMITATION' | translate }}</li>
      <li>{{ 'PRIVACY.RIGHT_OBJECTION' | translate }}</li>
      <li>{{ 'PRIVACY.RIGHT_TRANSFERABILITY' | translate }}</li>
    </ul>
    <p class="mb-4">{{ 'PRIVACY.RIGHTS_CONTACT_TEXT' | translate }}</p>

    <h2 class="text-2xl font-semibold mb-4">{{ 'PRIVACY.CONSENT_TITLE' | translate }}</h2>
    <p class="mb-4">{{ 'PRIVACY.CONSENT_TEXT' | translate }}</p>

    <h2 class="text-2xl font-semibold mb-4">{{ 'PRIVACY.CHANGES_TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.CHANGES_TEXT' | translate }}</p>
  </div>
</div>