<div [ngClass]="global.themeMode? 'bg-white' : 'bg-secondary'" class="pt-32 pb-32 h-full">
  <div [ngClass]="global.themeMode? 'text-primary bg-gray-600' : 'text-white bg-black'"
    class="max-w-4xl mx-auto p-6 rounded-lg shadow-lg">
    <h1 class="text-3xl font-bold text-primary mb-6">{{ 'IMPRINT.HEADER' | translate }}</h1>

    <h2 class="text-2xl font-semibold mb-4">{{ 'IMPRINT.ADDRESS_TITLE' | translate }}</h2>
    <p class="mb-4">
      {{ 'IMPRINT.NAME' | translate }}<br>
      {{ 'IMPRINT.ADDRESS' | translate }}<br>
      {{ 'IMPRINT.CITY' | translate }}<br>
      {{ 'IMPRINT.COUNTRY' | translate }}
    </p>

    <h2 class="text-2xl font-semibold mb-4">{{ 'IMPRINT.CONTACT_TITLE' | translate }}</h2>
    <p class="mb-4">
      {{ 'IMPRINT.PHONE' | translate }} <a href="tel:+49 176 43871637" class="text-primary underline">+49 176
        43871637</a><br>
      {{ 'IMPRINT.EMAIL' | translate }} <a href="mailto:info&#64;mehmet-deliaci.net" class="text-primary underline">
        info&#64;mehmet-deliaci.net
      </a>
    </p>

    <h2 class="text-2xl font-semibold mb-4">{{ 'IMPRINT.RESPONSIBILITY_TITLE' | translate }}</h2>
    <p class="mb-4">
      {{ 'IMPRINT.RESPONSIBILITY_NAME' | translate }}<br>
      {{ 'IMPRINT.RESPONSIBILITY_ADDRESS' | translate }}<br>
      {{ 'IMPRINT.RESPONSIBILITY_CITY' | translate }}<br>
      {{ 'IMPRINT.RESPONSIBILITY_COUNTRY' | translate }}
    </p>

    <h2 class="text-2xl font-semibold mb-4">{{ 'IMPRINT.CONTENT_LIABILITY_TITLE' | translate }}</h2>
    <p class="mb-4">{{ 'IMPRINT.CONTENT_LIABILITY_TEXT1' | translate }}</p>
    <p class="mb-4">{{ 'IMPRINT.CONTENT_LIABILITY_TEXT2' | translate }}</p>

    <h2 class="text-2xl font-semibold mb-4">{{ 'IMPRINT.LINKS_LIABILITY_TITLE' | translate }}</h2>
    <p class="mb-4">{{ 'IMPRINT.LINKS_LIABILITY_TEXT1' | translate }}</p>
    <p class="mb-4">{{ 'IMPRINT.LINKS_LIABILITY_TEXT2' | translate }}</p>

    <h2 class="text-2xl font-semibold mb-4">{{ 'IMPRINT.COPYRIGHT_TITLE' | translate }}</h2>
    <p class="mb-4">{{ 'IMPRINT.COPYRIGHT_TEXT1' | translate }}</p>
    <p>{{ 'IMPRINT.COPYRIGHT_TEXT2' | translate }}</p>
  </div>
</div>