<section class="fixed flex md:flex-row md:items-center flex-col top-10 left-10 h-[90vh] right-10 rounded-xl bg-blue-500 z-50">
    <div class="absolute top-4 right-8 flex self-end p-12 ">
        <h1>X</h1>
    </div>

    
    <div class="absolute bottom-4 p-6 right-8">
        <span class="text-primary text-2xl">Next project >>></span>
    </div>

    <div class="self-center md:order-2 md:w-1/2 !size-52 mt-4 h-auto w-full bg-red-500 flex justify-center items-center">
        <img src="assets/imgs/lines.svg" alt="">
    </div>

    
    <div class="p-12 pt-0 md:w-1/2">
        <h1 class="text-8xl text-primary font-bold">01</h1>
        <h2 class="text-6xl font-bold font-fira">Join</h2>
        <h3 class="text-4xl text-primary font-fira pt-4 pb-4">What is this project about?</h3>
        <p class="pb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores ab illo eveniet odio non quasi neque
            adipisci
            debitis vel maxime suscipit at culpa, veniam nemo itaque veritatis sunt perspiciatis consectetur!</p>
        <div class="flex gap-4 pb-4">
            <div class="flex justify-center items-center">
                <img src="assets/icons/skillset-icons/css.svg" alt="">
                <span>CSS</span>
            </div>

            <div class="flex justify-center items-center">
                <img src="assets/icons/skillset-icons/css.svg" alt="">
                <span>CSS</span>
            </div>
        </div>

        <div class="flex gap-6">
            <button class="rounded-full border-white border p-4">Github</button>
            <button class="rounded-full border-white border p-4">Live Test</button>
        </div>
    </div>


</section>