<section
    class="fixed flex flex-col top-5 left-5 right-5 bottom-5 h-vh rounded-3xl bg-hero bg-cover bg-no-repeat z-50 border-primary border">
    <div class="absolute top-0 right-0 flex self-end p-6">

        <svg (click)="toggleModal()"
            class="size-10 m-6 cursor-pointer hover:text-primary hover:scale-150 origin-center transition-transform duration-300"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path d="M6 18L18 6M6 6l12 12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

    </div>



    <div (click)="nextProject()" class="absolute bottom-0 p-6 flex justify-end w-full items-center text-primary gap-4 next-project ">
        <span class="text-2xl">Next project</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="5" y1="12" x2="19" y2="12"></line>
            <polyline points="12 5 19 12 12 19"></polyline>
        </svg>

    </div>

    <div class="self-center md:order-2 md:w-1/2  p-6 md:mt-0 mt-24 h-auto w-full flex justify-center items-center">
        <img class="rounded-xl" src="{{projects[projectIndex].picture}}" alt="">
    </div>


    <div class="p-6 pt-0 md:w-1/2">
        <h1 class="text-7xl text-primary font-bold">
            {{ (projectIndex + 1) | number:'2.0' }}
        </h1>

        <h2 class="text-6xl font-bold font-fira">{{projects[projectIndex].name}}</h2>
        <h3 class="text-4xl text-primary font-fira pt-4 pb-4">What is this project about?</h3>
        <p class="pb-4">{{projects[projectIndex].description}}</p>

        <div class="flex gap-6 pb-6 text-2xl">
            <div *ngFor="let tool of matchingIcons" class="flex flex-row gap-4  ">
                <div class="flex justify-center items-center gap-2 ">
                    <img class="size-6 filter-primary" src="assets/icons/skillset-icons/{{tool.file}}" alt="">
                    <span>{{tool.name}}</span>
                </div>
            </div>
        </div>

        <div class="flex gap-6 justify-center">
            <button class="rounded-full border-white border p-4 flex gap-2 place-items-center overHover hover:text-primary hover:border-primary">Github <img src="assets/icons/arrow_outward_primary.svg" alt=""></button>
            <button (click)="navigateToProject()" class="rounded-full border-white border p-4 flex gap-2 place-items-center overHover hover:text-primary hover:border-primary">Live Test <img src="assets/icons/arrow_outward_primary.svg" alt=""></button>
        </div>
    </div>


</section>