@media (min-width: 768px) {
  section {
    flex-direction: row;
    align-items: center;
    top: 7rem;
    left: 7rem;
    right: 7rem;
    bottom: 7rem;
  }
}

.hover\:text-primary:hover path {
  stroke: var(--tw-primary);
}

.next-project {
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.next-project:hover {
  color: turquoise;
  cursor: pointer;
}

.next-project:hover span {
  color: white;
}

.next-project:hover svg {
  transform: scale(1.5);
  transition: transform 0.2s ease-in-out; /* Transition für SVG hinzufügen */
}

.filter-primary {
  filter: invert(57%) sepia(36%) saturate(595%) hue-rotate(127deg) brightness(105%) contrast(400%);
}

.overHover:hover {
  img {
    transform: scale(1.5);
    transition: transform 0.2s ease-in-out;
  }
}