<section
    class="text-center bg-white rounded-3xl text-primary p-6 text-wrap w-56 flex flex-col justify-center items-center">
    <span class=""> {{ 'POPUP.INFO' | translate }}</span>

    <div class="flex gap-4 p-4">
        <div class="flex flex-col size-12">
            <img src="assets/icons/skillset-icons/react.svg" alt="">
            <p>React</p>
        </div>

        <div class="flex flex-col size-12">
            <img src="assets/icons/skillset-icons/vue.js.svg" alt="">
            <p>Vue Js</p>
        </div>
    </div>

    <div class="absolute bottom-[-8px] left-1/2 transform -translate-x-1/2 w-4 h-4 bg-white rotate-45 "></div>
</section>