<div class="p-6 bg-skillset bg-no-repeat bg-cover bg-left md:flex">
    <div>
        <h2 class="text-primary pb-6 text-2xl ">Technologies</h2>
        <div class="border-primary border rounded-3xl p-10 bg-primary bg-opacity-5 backdrop-blur-md">
            <h1 class="text-primary text-6xl font-bold pb-6 font-fira">Skill Set</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla asperiores repellendus maxime alias beatae
                explicabo eaque facilis quibusdam optio cum incidunt, voluptatem tempore expedita, quia magnam labore
                error,
                facere omnis!</p>

            <h2 class="flex gap-1 pt-6 pb-6 text-2xl">You need<p class="text-primary text-2xl">another skill?</p>
            </h2>

            <p class="pb-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat illo quidem, autem odio
                aperiam
                nemo
                possimus, praesentium earum adipisci esse vel consectetur sit dolorum facilis alias perspiciatis iste?
                Nostrum, accusantium!</p>

            <button class="rounded-full border-white border p-4 px-7">Let's Talk</button>
        </div>
    </div>




    <div class="flex w-full flex-wrap gap-14 items-center justify-center p-6 pb-14 md:gap-20 relative">
        <div *ngFor="let icon of iconFiles; let isLast = last"
            class="flex flex-col items-center size-16 gap-2 cursor-pointer" (mouseover)="hoverPopUp(icon.name)"
            (mouseleave)="closePopUp()">
            <app-popup *ngIf="isLast && isHovered" class="flex -translate-y-52 absolute"></app-popup>
            @defer (on viewport) {
            <img class="size-16 hover:scale-110 transition-all ease-in duration-100" [src]="iconFolderPath + icon.file"
                [alt]="icon.name">
            <p class="font-fira">{{icon.name}}</p>
            } @placeholder {
            <div>Icon loading...</div>
            }
        </div>
    </div>
</div>