<div class="flex flex-col bg-secondary overflow-x-hidden">

    <app-hero class="text-white" [ngClass]="global.themeMode ? 'light-mode' : 'dark-mode'">
    </app-hero>


    <app-about-me appScrollReveal="left" [delay]="100" [ngClass]="global.themeMode ? 'light-mode' : 'dark-mode'"
        class="bg-secondary text-white p-6 md:p-12 over">
    </app-about-me>


    <app-skillset appScrollReveal="right" duration="duration-500"
        [ngClass]="global.themeMode ? 'light-mode' : 'dark-mode'" class="bg-secondary text-white">
       
    </app-skillset>


    <app-projects appScrollReveal="zoom" [ngClass]="global.themeMode ? 'light-mode' : 'dark-mode'"
        class="bg-secondary text-white">
    </app-projects>


    <app-testimonial appScrollReveal="up" [ngClass]="global.themeMode ? 'light-mode' : 'dark-mode'"
        class="bg-secondary text-white">
    </app-testimonial>


    <app-contact appScrollReveal="fade" duration="duration-300"
        [ngClass]="global.themeMode ? 'light-mode' : 'dark-mode'" id="contact" class="bg-secondary text-white">
    </app-contact>
</div>