<section class="flex p-6 2xl:w-[1580px] 2xl:m-auto">
    <div class="flex flex-col justify-between w-full">
        <div class="flex">
            <div class="flex text-5xl w-19 justify-center  text-primary">
                <h2 class="">M</h2>
                <h2 class="-ml-3">D</h2>
            </div>
            <div class="md:flex flex-col text-start font-bold text-xl">
                <h2>Mehmet</h2>
                <h2 class="-mt-2">Deliaci</h2>
            </div>
        </div>
        <div class="flex flex-col gap-0">
            <p>Web Developer</p>
            <p>Munich Germany</p>
        </div>
    </div>

    <div class="flex flex-col z-10">
        <a target="_blank" href="https://github.com/67Trane">Github</a>
        <a target="_blank" href="https://www.linkedin.com/in/mehmet-deliaci-20663a33a/">LinkedIn</a>
        <a href="mailto:trane_67@hotmail.de?subject=Anfrage&body=Hallo Mehmet,">Email</a>
        <a (click)="navigateAndScroll()" [routerLink]="'/impressum'" class="text-nowrap">
            {{ 'LEGALNOTICE' | translate }}
        </a>
    </div>


</section>
<div class="flex justify-center pb-6 md:-translate-y-20">
    <p class="text-primary">© Mehmet Deliaci 2024</p>
</div>